body{
  
  margin: 0;

  font-family: 'Roboto Slab';
  background: url(https://previews.123rf.com/images/ismagilov/ismagilov1503/ismagilov150300397/38268813-Mathematics-equations-and-formulas-on-a-white-background-Stock-Photo.jpg)  no-repeat center top fixed;
  background-blend-mode: ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.menu{
  opacity: 0.9;
}
#rolar{
  text-align: right;
  padding-left:-80%;
  background: #CC1332;
  float:right;
  position: fixed;
  right: 0;
  top: 25%;
  width:9%;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;


}
.fundo{
  background:#f1eae2;
  border-radius:10px;
  margin: 6%;
  box-shadow: 0 4px 50px 0 black;
  margin-top:0;
  padding-bottom: 40%;
}

.fotohome{
  width:43%;
  padding-right: 3%;


}
.passar1{
  float:left;
  margin-top: -2.5%;
 margin-left:-30%;



}
.passar2{
  float:right;
  margin-top: -3%;
  margin-right: -1%;

}
.nome_projeto{
  text-align: center;
  padding: 1%;
  align-items: center;
}
.nome_projeto img{
  float: left;
  width: 15%;
}
.legenda{
   color:black;
   font-family:"Roboto+Slab";
   float:left;
   margin-top: -64%;
   margin-left: -10%;
  }
.main_info {

  display: flex;
  width: 90%;
  margin-top: 20px;
  padding-left:6%;
   

}
.img_info img{
  margin-top: -0.5%;
  float:left;
  border-radius: 10px;


}




.mySlides{
  margin-top: 10%;
  margin-left: -10%;
  margin-bottom: 0;

}
.img_info{
  align-items: left;
  width: 100%;

  margin-left: 5%;
  margin-top: 0;
  border:0;


}
.info{
  width: 30%;
  margin-top: 8%;
  text-align: left;
  float:left;
  font-size: 22px;
  padding-top: 5%;
  padding-left: 2%;


}
.first_info{
  float:right;
  width: 55%;
  display: flex;
  margin-left: 2%;


}
.linha1{
  display: flex;
}
.linha2{
  display: flex;
  
}
.linha3{
  display: flex;
}
.habilidades{

  margin-right: 2%;
  width: 60%;
  float:right;

}
.titulo_habilidades{
  margin-top: 9%;

 text-align: center;

}
.col-1-top{
  padding: 1%;
  width: 30%;
  text-align: center;
 
  
  
  border-top-left-radius: 5px;

}
.col-3-top{
  padding: 1%;
  width: 30%;
  text-align: center;
  border-left: 3em solid black;
 
  border-top-right-radius: 5px;
  border-width: thin;
  
}
.col-1{
  padding: 1%;
  width: 30%;
 
  border-top: 1px solid black;
  text-align: center;

}
.col-3{
  padding: 1%;
  width: 30%;
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
 
 
}
.col-1-down{
  padding: 1%;
  width: 30%;
  text-align: center;
  border-width: thin;
 
  border-top: 1px solid black;
  
  border-bottom-left-radius: 5px;
  
}
.col-3-down{
  padding: 1%;
  width: 30%;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-top: 1px solid black;
  border-bottom-right-radius: 5px;

  text-align: center;
  border-width: thin;
}
.tabela_habilidades{
  margin-bottom: 5%;
  margin-top: 18%;
  width: 175%;
  padding-right:-1%;
  
}
.texto_info{
  display: flex;
}
.detalhes-titulo{
  text-align:center;
  font:150% Raleway;
  color:#005643;

}
.header-left-2{
  position: relative;
  float: left;
  font-size: 60px;
  margin-left: 30%;
  left: 0;
  height: 100%
}
.detalhes{
  border-radius: 15px;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  float:left;

}
.posi2{
  padding-top: 1%;
  padding-right: 0.5%;
}
.titulo{
  text-align:center;
  font:200% Raleway;
  color:#005643;
  padding-right:10%;


}
