body{
  margin: 0;
 
  font-family: 'Roboto Slab';
  background: url(https://st.depositphotos.com/1067091/1338/v/950/depositphotos_13385090-stock-illustration-grey-gear-background.jpg) no-repeat center top fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
#rolar{
  text-align: right;
  padding-left:-80%;
  background: #CC1332;
  float:right;
  position: fixed;
  right: 0;
  top: 25%;
  width:9%;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
  
 
}

.fotohome{
  width:43%;
  padding-right: 3%;
  

}
.passar1{
  float:left;
  margin-top: -2.5%;
 margin-left:-46%;
 

  
}
.passar2{
  float:right;
  margin-top: -3%;
  margin-right: -1%;
  
}
.nome_projeto{
  text-align: center;
  padding: 1%;
  align-items: center;
}
.nome_projeto img{
  float: left;
  width: 15%;
}
.legenda{
   float: left;
   margin-top: 9%;
   margin-left: 2.5%;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   height:2.5em;
   text-align: left;
}
.main_info {
  border:0; 
  border-radius: 7px;
  display: flex;
  width: 100%;
  margin-top: 40px;
}
.img_info img{
  margin-bottom: -40px;
  margin-left: 9px;
  float:left;
  margin-top: 4%;
  border-radius: 5px;
  
}
.img_info{
  align-items: center;
  width: 70%;
  margin-right: 15px;
}
.info{
  width: 40%;
  padding: 5%;
  padding-top: 4%;
  margin: 1%;
  text-align: left;
  font-size: 18px;
  background:#f1eae2;
  border-radius: 4px; 
}
.first_info{
  width: 50%;
  display: flex;
  box-shadow: 0 4px 50px 0 gray ;
  background:#f1eae2; 
  margin-left: 2%;
  border-radius: 4px; 
  background:#f1eae2;
}
.linha1{
  display: flex;
}
.linha2{
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.linha3{
  display: flex;
}
.habilidades{
  margin-left: 2%;
  margin-right: 2%;
  align-self: center;
  width: 47%;
  padding: 1%;
  box-shadow: 0 4px 50px 0 gray;
  border-radius: 4px; 
  background:#f1eae2;
}
.titulo_habilidades{
  font-size: 22px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  text-align: center;
}
.col-1-top{
  padding: 1%;
  width: 33%;
  text-align: center;
}
.col-2-top{
  padding: 1%;
  text-align: center;
  width: 16.6%;
  border-left: 3em solid #000080;
  border-width: thin;
}
.col-3-top{
  padding: 1%;
  width: 33%;
  text-align: center;
  border-left: 3em solid #000080;
  border-right: 3em solid #000080;
  border-width: thin;
}
.col-4-top{
  padding: 1%;
  text-align: center;
  width: 16.6%;
}
.col-1{
  padding: 1%;
  width: 33%;
  text-align: center;
}
.col-2{
  padding: 1%;
  width: 16.6%;
  text-align: center;
  border-left: 1px solid black;
}
.col-3{
  padding: 1%;
  width: 33%;
  text-align: center;
  border-left: 1px solid black;
}
.col-4{
  padding: 1%;
  width: 16.6%;
  text-align: center;
  border-left: 1px solid black;
}
.col-1-down{
  padding: 1%;
  width: 33%;
  text-align: center;
  border-width: thin;
}
.col-2-down{
  padding: 1%;
  text-align: center;
  width: 16.6%;
  border-right: 1px solid #000080;
  border-left: 1px solid #000080;
}
.col-3-down{
  padding: 1%;
  width: 33%;
  text-align: center;
  border-width: thin;
}
.col-4-down{
  padding: 1%;
  text-align: center;
  width: 16.6%;
  border-left: 3em solid #000080;
  border-width: thin;
}
.tabela_habilidades{
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 4px 50px 0 rgba(0,0,0,0.2);
  margin-bottom: 5%;
}
.texto_info{
  display: flex;
}
.header-left-2{
  position: relative;
  float: left;
  font-size: 60px;
  margin-left: 30%;
  left: 0;
  height: 100%
}
.detalhes{
  border-radius: 15px;
  margin-top: 3%;
  margin:2%;
  padding: 1%;
  border-style: double;
  border-top: 1px, solid, black;
  box-shadow: 0 4px 50px 0 gray;
  border-radius: 4px; 
  background:#f1eae2;
}
.posi2{
  padding-top: 1%;
  padding-right: 0.5%;
}
.titulo{
  text-align:center;
  font:200% Raleway;
  color:#005643;
 

}