.header {
  top: 0px;
  margin-bottom: 3%;
  height: 5em;
  border-bottom: 2px;
  background-color: #CC1332;
}
.header-left {
  position: relative;
  float: left;
  left: 0;
  height: 100%;
}
.logo {
  margin: 5%;
}
