html{
  margin: 0;
  background-color: rgb(229, 229, 230);
  font-family: 'Roboto Slab', serif;
}
.nome_projeto{
  text-align: center;
  padding: 1%;
  align-items: center;
}
.nome_projeto img{
  float: left;
  width: 15%;
}
.main_info {
  box-shadow: 0 4px 50px 0 rgba(0,0,0,0.2);
  border-radius: 7px;
  padding: 1%;
  display: flex;
  width: 100%;
}
.img_info img{
  width: 105%;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 15%;
}
.img_info{
  align-items: center;
  width: 47%;
  margin-right: 15px;
}
.info{
  width: 50%;
  padding: 3%;
  padding-top: 15%;
  margin: 1%;
  text-align: center;
  font-size: 22px;
}
.first_info{
  width: 45%;
  display: flex;
  box-shadow: 0 4px 50px 0 rgba(0,0,0,0.2);
}
.linha1{
  display: flex;
}
.linha2{
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.linha3{
  display: flex;
}
.habilidades{
  margin-left: 5%;
  margin-right: 2%;
  align-self: center;
  width: 47%;
  padding: 1%;
  box-shadow: 0 4px 50px 0 rgba(0,0,0,0.2);
}
.titulo_habilidades{
  font-size: 22px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  text-align: center;
}
.col-1-top{
  padding: 1%;
  width: 33%;
  text-align: center;
}
.col-2-top{
  padding: 1%;
  text-align: center;
  width: 16.6%;
  border-left: 3em solid #000080;
  border-width: thin;
}
.col-3-top{
  padding: 1%;
  width: 33%;
  border-left: 3em solid #000080;
  border-right: 3em solid #000080;
  border-width: thin;
}
.col-4-top{
  padding: 1%;
  text-align: center;
  width: 16.6%;
}
.col-1{
  padding: 1%;
  width: 33%;
  text-align: center;
}
.col-2{
  padding: 1%;
  width: 16.6%;
  text-align: center;
  border-left: 1px solid black;
}
.col-3{
  padding: 1%;
  width: 33%;
  text-align: center;
  border-left: 1px solid black;
}
.col-4{
  padding: 1%;
  width: 16.6%;
  text-align: center;
  border-left: 1px solid black;
}
.col-1-down{
  padding: 1%;
  width: 33%;
  text-align: center;
  border-width: thin;
}
.col-2-down{
  padding: 1%;
  text-align: center;
  width: 16.6%;
  border-right: 1px solid #000080;
  border-left: 1px solid #000080;
}
.col-3-down{
  padding: 1%;
  width: 33%;
  border-width: thin;
}
.col-4-down{
  padding: 1%;
  text-align: center;
  width: 16.6%;
  border-left: 3em solid #000080;
  border-width: thin;
}
.tabela_habilidades{
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 4px 50px 0 rgba(0,0,0,0.2);
  margin-bottom: 5%;
}
.texto_info{
  display: flex;
}
.header-left-2{
  position: relative;
  float: left;
  font-size: 60px;
  margin-left: 30%;
  left: 0;
  height: 100%
}
.detalhes{
  border-radius: 15px;
  margin-top: 3%;
  padding: 1%;
  border-style: double;
  border-top: 1px, solid, black;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.5);
}
